@model GameAddGameVM
@{
    ViewData["Title"] = "AddGame";
}

<h3>Add an Game</h3>
<div class="col-6">
    <form asp-controller="Game" asp-action="AddGame">
        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
        <select class="form-group">
            
        </select><br />
        <div class="form-group">
            <label>HomeTeam</label>
            <input class="form-control" />
            <span class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label>AwayTeam</label>
            <input  class="form-control" />
            <span class="alert-danger"></span>
        </div>
        <button class="btn btn-outline-info" type="submit">Search Game</button>

    </form>
</div>